@charset "utf-8";
/* CSS Document */

body{ font:12 pt Tahoma, Geneva, sans-serif;}

.announcement{
	background-color:#0000cc; color:white;
}

#announcements{
	margin-left:8em;
	padding:0em 1em;
}

#announcements h2{
	border-bottom: 2px solid black;
	clear:right;
}

#announcements img{
	float: right; margin-left: 2em;
}

#calendar{
	background-color:#00eeee;
	border:2px solid black;
	line-height:1.5em;
	position:fixed;
	right: 1em;
	top: 1em;
	width: 8em;
}

#calendar ul{padding-left: 2em;}

.firstword{ font-size: 32pt;}

h1{
	margin:0em 0em 0em 0em ;
	text-align:center;
}

#main{
	background-color:#ddffdd;
	border:2px solid black;
	margin-right:10em;
}

#news{
	float: left;
	font-size: smaller;
	margin-left:1em;
	width: 8em;
}

#news > ul{
	list-style-type: none;
	padding-left: 0em;
}

#news li{
	background-color:#ffffcc;
	border: 3px solid #ffff88;
	margin-bottom: 1em;
	padding: 1em;
}




